# Built application files
/*/build/
/*/*/build/
*.apk
*.ap_

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Gradle files
/Android-MVP/.gradle/
/Android-MVP/build/

# Local configuration file (sdk path, etc)
/Android-MVP/local.properties

*.iml
/Android-MVP/.idea/
/Android-MVP/.idea/workspace.xml
/Android-MVP/.idea/libraries
/Android-MVP/.DS_Store
/Android-MVP/captures